{{name}}
<button class="change-eaten" data-id="{{id}}" data-iseaten="{{eaten}}">
    {{#if eaten}}NOM NOM!{{else}}RE-DO!{{/if}}
</button>
<button class="delete-burger" data-id="{{id}}">DELETE</button>