<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#if eaten}}NOM NOM!{{else}}YUK YUK!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{id}}">DELETE DA BURGER</button>
</li>